@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}

body {
  background: #fbfeff;
  font-family: 'poppins', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

button {
  font-size: 17px;
  padding: 7px;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  background: #ff9114;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* home page */
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 80vh;
  width: 100%;
}

.home-page > span {
  font-size: 100px;
}

.home-page h1 {
  background: linear-gradient(to right, #ff00cc, #3333ff); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;  
  background-clip: text;  
  text-fill-color: transparent;  
  text-align: center;
}

.home-page p {
  font-size: 25px;
  color: #000000c9;
}

.home-page p span {
  font-weight: 600;
}
.home-page p span:last-child {
  color: #ff0000;
  font-size: 25px; 
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-container {
  width: 80%; 
} 

.section-heading {
  font-size: 30px;
  padding: 10px 20px;
  color: #2929e0;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 3px solid #0060ff4d;
}

.routing-content {
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

@media screen and (max-width: 600px) {
  .content-container {
    width: 100vw;
  }
  .routing-content {
    width: 100%;
  }
}